:root{
    --primary-color:#333;
    --secondary-color:black;
    --teritary-color:white;
}
button{
  background-color:var(--primary-color);
  color:var(--teritary-color);
  padding: 4px 10px;
  font-size: 1.5vw;
  border-radius: 4px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 5px 30px;
  color:blueviolet;
}

.view-score:hover{
  cursor: pointer;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

#start-quiz{
  text-align: center;
  padding: 5%;
}
#start-quiz h1{
    font-size: 3vw;
}
#start-quiz p{
    font-size: 1.5vw;
}
#questions{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 30px;
  }