:root{
    --primary-color:#333;
    --secondary-color:black;
    --teritary-color:white;
}
button{
  background-color:var(--primary-color);
  color:var(--teritary-color);
  padding: 4px 20px;
  font-size: 1.5vw;
  border-radius: 4px;
  cursor: pointer;
  margin:10px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 30px 30px;
}

.view-score:hover{
  cursor: pointer;
}
.bottom-content{
    padding:40px 0px;
    border-top: var(--primary-color) solid;
    text-align: center;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

#start-quiz{
  text-align: center;
  padding: 5%;
}
#start-quiz h1{
    font-size: 3vw;
}
#start-quiz p{
    font-size: 1.5vw;
}
#questions{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 30px;
  }
  @media screen and (max-width: 578px) {
    #questions{
      font-size: 1.25em;
      font-weight: 400;
    }
  }
  
  #choices div{
    margin-bottom: 10px;
  }
  
  #highscore button{
    margin-right: 10px;
  }
  
  #score{
    color:var(--primary-color);
    margin-bottom: 10px;
  }
  
  #results button{
    margin-left: 10px;
  }
  #answer {
    width: 100%;
    color: #797979;
    font-style: italic;
  }